@import 'https://kingham.github.io/style/styles.less';

.button-template(@color) {
    background: @color;
    color: @white;
    &:hover {
        background: darken(@color, 5%);
    }
}

button, .button {
    display: inline-flex;
    padding: @padding @padding*2;
    cursor: pointer;    
    &.delete {
        .button-template(@red);
    }
    &.save, &.submit {
        .button-template(@green);
    }
    &.subtle {
        .button-template(@bg);
        color: @black;
        @{dark-mode} {
            .button-template(@darkbg);
        }
    }
}

.drop {
    position: relative;
    .dropper {
        display: none;
        position: absolute;
        top: 100%;
        border: 1px solid @border;
        background: @white;
        @{dark-mode}{
            background: @darkwhite;
            color: @white;
        }
        li {
            border-bottom: 1px solid @border;
            min-width: 150px;
        }
        &.right {
            right: 0px;
        }
    }
    &:hover {
        .dropper {
            display: block;
            li {
                color: @black;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}