.transition {
  transition: 0.2s all ease-in;
}
._10 {
  width: 10%;
}
._20 {
  width: 20%;
}
._30 {
  width: 30%;
}
._40 {
  width: 40%;
}
._50 {
  width: 50%;
}
._60 {
  width: 60%;
}
._70 {
  width: 70%;
}
._80 {
  width: 80%;
}
._90 {
  width: 90%;
}
._100 {
  width: 100%;
}
.mt {
  margin-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
.mr {
  margin-right: 10px;
}
.ma {
  margin: 10px;
}
.pt {
  padding-top: 10px;
}
.pb {
  padding-bottom: 10px;
}
.pl {
  padding-left: 10px;
}
.pr {
  padding-right: 10px;
}
.pa {
  padding: 10px;
}
.break {
  width: 100%;
  display: block;
  height: 0px;
  flex-basis: 100%;
}
.shrink {
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
button,
.button {
  display: inline-flex;
  padding: 10px 20px;
  cursor: pointer;
}
button.delete,
.button.delete {
  background: #C53826;
  color: #FFFFFF;
}
button.delete:hover,
.button.delete:hover {
  background: #b03222;
}
button.save,
.button.save,
button.submit,
.button.submit {
  background: #0AD957;
  color: #FFFFFF;
}
button.save:hover,
.button.save:hover,
button.submit:hover,
.button.submit:hover {
  background: #09c14d;
}
button.subtle,
.button.subtle {
  background: #F7F8FA;
  color: #FFFFFF;
  color: #000000;
}
button.subtle:hover,
.button.subtle:hover {
  background: #e7eaf0;
}
body.dark-mode button.subtle,
body.dark-mode .button.subtle {
  background: #282934;
  color: #FFFFFF;
}
body.dark-mode button.subtle:hover,
body.dark-mode .button.subtle:hover {
  background: #1d1e26;
}
.drop {
  position: relative;
}
.drop .dropper {
  display: none;
  position: absolute;
  top: 100%;
  border: 1px solid #E2E3E9;
  background: #FFFFFF;
}
body.dark-mode .drop .dropper {
  background: #333442;
  color: #FFFFFF;
}
.drop .dropper li {
  border-bottom: 1px solid #E2E3E9;
  min-width: 150px;
}
.drop .dropper.right {
  right: 0px;
}
.drop:hover .dropper {
  display: block;
}
.drop:hover .dropper li {
  color: #000000;
}
.drop:hover .dropper li:hover {
  color: #fff;
}
