@import 'https://kingham.github.io/style/styles.less';

input, input[type="text"], input[type="number"], select {
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 1rem;
    height: 33.5px;
    background: @white;
    .b;
    @{dark-mode} {
        background: @darkbg;
        border-color: @darkborder;
        color: @white;
    }
    &.modified.valid {
        border-color: @green;
        &[readonly], &[disabled] {
            border-color: @border;
            @{dark-mode} {
                border-color: @darkborder;
            }
        }
    }
    &.invalid {
        border-color: @red;
        &[readonly], &[disabled] {
            border-color: @border;
            @{dark-mode} {
                border-color: @darkborder;
            }
        }
    }
}

input[readonly], input[disabled], select[readonly], select[disabled] {
    background: @bg;
    @{dark-mode} {
        background: @darkwhite;
    }
}


input[readonly], input[disabled], select[readonly], select[disabled] {
    background: @bg;
    @{dark-mode} {
        background: @darkwhite;
    }
}

.block {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
        height: auto;
        width: auto;
    }
    .switch {
        border: 1px solid @border;
        height: 33.5px;
        width: 50px;
        padding: 5px;
        box-sizing: border-box;
        background: @white;
        cursor: pointer;
        @{dark-mode} {
            border-color: @darkborder;
            background: @darkwhite;
        }
        .switcher {
            width: 15px;
            height: 22.5px;
            display: inline-block;
            .transition;
        }
        &.on-switch {
            .switcher {
                background: @green;
            }
        }
        &.off-switch {
            .switcher {
                background: @red;
                transform: translateX(23px);
            }
        }
    }
    .radios {
        li {
            padding: 5px 0;
            display: flex;
            input[type="radio"] {
                margin-right: 5px;
                height: auto;
                width: auto;
            }
        }
    }
    .autocomplete-container {
        position: relative;
        &>* {
            width: 100%;
        }
        ul {
            position: absolute;
            top: 33.5px;
            left: 0px;
            z-index: 1;
            background: @white;
            border: 1px solid @border;
            @{dark-mode} {
                border-color: @darkborder;
                background: @darkwhite;
            }
            li {
                padding: 5px;
                cursor: pointer;
                &:hover {
                    background: @bg;
                    @{dark-mode} {
                        background: @darkbg;
                    }
                }
            }
        }
    }
    label {
        &+button, &.button {
            margin-left: 0;
        }
    }
}

.select2.select2-container--default .select2-selection--multiple, .select2.select2-container--default .select2-selection--multiple, .select2.select2-container--default .select2-selection--single {
    @{dark-mode}{
        background: @darkbg;
        border-color: @darkborder;
    }
}