.transition {
  transition: 0.2s all ease-in;
}
._10 {
  width: 10%;
}
._20 {
  width: 20%;
}
._30 {
  width: 30%;
}
._40 {
  width: 40%;
}
._50 {
  width: 50%;
}
._60 {
  width: 60%;
}
._70 {
  width: 70%;
}
._80 {
  width: 80%;
}
._90 {
  width: 90%;
}
._100 {
  width: 100%;
}
.mt {
  margin-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
.mr {
  margin-right: 10px;
}
.ma {
  margin: 10px;
}
.pt {
  padding-top: 10px;
}
.pb {
  padding-bottom: 10px;
}
.pl {
  padding-left: 10px;
}
.pr {
  padding-right: 10px;
}
.pa {
  padding: 10px;
}
.break {
  width: 100%;
  display: block;
  height: 0px;
  flex-basis: 100%;
}
.shrink {
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
.b {
  border: 1px solid #E2E3E9;
}
body.dark-mode .b {
  border-color: #434556;
}
.bg {
  background: #F7F8FA;
}
body.dark-mode .bg {
  background: #282934;
}
input,
input[type="text"],
input[type="number"],
select {
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 1rem;
  height: 33.5px;
  background: #FFFFFF;
  border: 1px solid #E2E3E9;
}
body.dark-mode input,
body.dark-mode input[type="text"],
body.dark-mode input[type="number"],
body.dark-mode select {
  border-color: #434556;
}
body.dark-mode input,
body.dark-mode input[type="text"],
body.dark-mode input[type="number"],
body.dark-mode select {
  background: #282934;
  border-color: #434556;
  color: #FFFFFF;
}
input.valid,
input[type="text"].valid,
input[type="number"].valid,
select.valid {
  border-color: #0AD957;
}
input.invalid,
input[type="text"].invalid,
input[type="number"].invalid,
select.invalid {
  border-color: #C53826;
}
input[readonly],
input[disabled],
select[readonly],
select[disabled] {
  background: #F7F8FA;
}
body.dark-mode input[readonly],
body.dark-mode input[disabled],
body.dark-mode select[readonly],
body.dark-mode select[disabled] {
  background: #333442;
}
.block {
  display: flex;
  align-items: center;
}
.block input[type="checkbox"] {
  height: auto;
  width: auto;
}
.block .switch {
  border: 1px solid #E2E3E9;
  height: 33.5px;
  width: 50px;
  padding: 5px;
  box-sizing: border-box;
  background: #FFFFFF;
  cursor: pointer;
}
body.dark-mode .block .switch {
  border-color: #434556;
  background: #333442;
}
.block .switch .switcher {
  width: 15px;
  height: 22.5px;
  display: inline-block;
  transition: 0.2s all ease-in;
}
.block .switch.on-switch .switcher {
  background: #0AD957;
}
.block .switch.off-switch .switcher {
  background: #C53826;
  transform: translateX(23px);
}
.block .radios li {
  padding: 5px 0;
  display: flex;
}
.block .radios li input[type="radio"] {
  margin-right: 5px;
  height: auto;
  width: auto;
}
.block .autocomplete-container {
  position: relative;
}
.block .autocomplete-container > * {
  width: 100%;
}
.block .autocomplete-container ul {
  position: absolute;
  top: 33.5px;
  left: 0px;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #E2E3E9;
}
body.dark-mode .block .autocomplete-container ul {
  border-color: #434556;
  background: #333442;
}
.block .autocomplete-container ul li {
  padding: 5px;
  cursor: pointer;
}
.block .autocomplete-container ul li:hover {
  background: #F7F8FA;
}
body.dark-mode .block .autocomplete-container ul li:hover {
  background: #282934;
}
body.dark-mode .select2.select2-container--default .select2-selection--multiple,
body.dark-mode .select2.select2-container--default .select2-selection--multiple,
body.dark-mode .select2.select2-container--default .select2-selection--single {
  background: #282934;
  border-color: #434556;
}
