.block {
  display: flex;
  align-items: center;
}
.block input[type="text"],
.block input[type="date"],
.block input[type="datetime-local"],
.block input[type="time"],
.block input[type="number"] {
  height: 33.5px;
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 1rem;
}
.block textarea {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  font-size: 1rem;
}
