@import 'https://kingham.github.io/style/styles.less';

table.table {
    width: 100%;
    th {
        padding: 10px;
        border-bottom: 2px solid @border;
        text-align: left;
        font-weight: 600;
        @{dark-mode} {
            border-bottom-color: @darkborder;
        }
    }
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid @border;
        @{dark-mode} {
            border-bottom-color: @darkborder;
        }
    }
}

.r {
    display: flex;
    flex-wrap: wrap;
}
.block { //block
    display: flex;
    align-items: center;
    width: 0;
    flex-grow: 1;
    padding: @padding @padding @padding @padding * 2;
    label {
        width: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        .mandatory {
            color: @red;
        }
    }
    .inline-help {
        margin-left: auto;
    }
    &.blank {
        padding: 0px 10px 10px 20px;
        label {
            display:none;
        }    
    }
    .joiner {
        padding: 0 10px;
    }
    &.no-grow {
        flex-grow: 0;
        width: auto;
    }
    &.check {
        flex-direction: row-reverse;
        input[type="checkbox"] {
            margin-right: 10px;
        }
        &.fav {
            flex-direction: row;
        }
    }
    .autocomplete-container {
        flex-grow: 1;
    }
}
.top-filters {
    @media @mobile {
        .inline-help {
            display: none;
        }
    }
    .inline-help span {
        right: auto;
        left: -3px;
        font-size: 9px;
        top: 17px;
        padding: 5px 10px; 
        font-weight: 600;
    }
    select {
        padding: 7px;
        width: 120px;
    }
    input[type="text"] {
        width: 140px;
    }
    @media @mobile {
        .button.drop {
            display: none;
        }
        .mdc-paginator {
            margin: 5px 0;
            width: 100%;
            .mdc-paginator-container {
                .mdc-paginator-range-actions {
                    margin: 0px;
                    width: 100%;
                    .mdc-paginator-range-buttons {
                        margin: 0px;
                        width: 100%;
                        justify-content: flex-start;
                        display: flex; 
                    }
                    .button, button {
                        margin: 0px 1px;
                    }
                }
            }
        }
    }
    .mdc-paginator-container { 
        width: auto;
    }
    .mdc-paginator-page-size {
        @media @mobile {
            display: none;
        }
        select {
            width: 80px;
        }
    }
    .mdc-paginator-range-buttons {
        .navigate-before {
            margin-left: 0px;
        }
        .navigate-next {
            margin-right: 0px;
        }
        .button:not(.subtle), button:not(.subtle) {
            padding: 5px 8px;
            transform: translateY(1px);
            background: transparent;
            color: @black;
            margin-left: 0px;
            &:hover {
                background: @bg;
            }
            &.selected {
                color: @white;
                background: @blue;
                cursor: default;
            }
        }
        .button, button {
            &.subtle {
                text-shadow: none;
                &.navigate_next {
                    margin-left: 0px;
                }
            }
        }
    }
}