.transition {
  transition: 0.2s all ease-in;
}
._10 {
  width: 10%;
}
._20 {
  width: 20%;
}
._25 {
  width: 25%;
}
._30 {
  width: 30%;
}
._40 {
  width: 40%;
}
._50 {
  width: 50%;
}
._60 {
  width: 60%;
}
._70 {
  width: 70%;
}
._75 {
  width: 75%;
}
._80 {
  width: 80%;
}
._90 {
  width: 90%;
}
._100 {
  width: 100%;
}
.mt {
  margin-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
.mr {
  margin-right: 10px;
}
.ma {
  margin: 10px;
}
.pt {
  padding-top: 10px;
}
.pb {
  padding-bottom: 10px;
}
.pl {
  padding-left: 10px;
}
.pr {
  padding-right: 10px;
}
.pa {
  padding: 10px;
}
.break {
  width: 100%;
  display: block;
  height: 0px;
  flex-basis: 100%;
}
.flex {
  display: flex;
}
.shrink {
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
  color: #000000;
}
.b {
  border: 1px solid #E2E3E9;
}
body.dark-mode .b {
  border-color: #434556;
}
.bl {
  border-left: 1px solid #E2E3E9;
}
body.dark-mode .bl {
  border-left-color: #434556;
}
.br {
  border-right: 1px solid #E2E3E9;
}
body.dark-mode .br {
  border-right-color: #434556;
}
.bt {
  border-top: 1px solid #E2E3E9;
}
body.dark-mode .bt {
  border-top-color: #434556;
}
.bb {
  border-bottom: 1px solid #E2E3E9;
}
body.dark-mode .bb {
  border-bottom-color: #434556;
}
.bg {
  background: #F7F8FA;
}
body.dark-mode .bg {
  background: #282934;
}
.white {
  background: #FFFFFF;
}
body.dark-mode .white {
  background: #333442;
}
.shadow {
  box-shadow: 0 3px 20px 0 rgba(34, 34, 34, 0.05);
}
.title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.dark-mode .title {
  color: #FFFFFF;
}
a.title {
  position: relative;
}
a.title:hover {
  cursor: pointer;
  color: #000000;
}
.subsubtitle {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #2274A5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.dark-mode .subsubtitle {
  color: #FFFFFF;
}
.subtitle {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtitle.inline {
  display: inline-flex;
}
body.dark-mode .subtitle {
  color: #FFFFFF;
}
.subtitle button:first-child,
.subtitle .button:first-child {
  margin-left: auto;
}
.subtitle.pl {
  padding-left: 20px;
}
app,
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}
@media only screen and (max-width: 480px) {
  app,
  .app {
    flex-direction: column;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  app,
  .app {
    flex-direction: column;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  app,
  .app {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  app,
  .app {
    overflow: hidden;
  }
}
.main-container {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container main {
  flex-grow: 1;
  padding: 20px;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}
@media only screen and (max-width: 480px) {
  .main-container main {
    padding: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container main {
    width: 100vw;
  }
}
@media only screen and (max-width: 480px) {
  .main-container {
    width: 100vw;
    overflow: hidden;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  .main-container {
    width: 100vw;
    overflow: hidden;
  }
}
html {
  font-size: 12px;
}
app,
.main {
  width: 100%;
}
.shadow {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.inline-help {
  border: none;
  color: #000000;
  background: #F7F8FA;
  border: 1px solid #E2E3E9;
  font-size: 7px;
}
.inline-help:hover {
  color: #000000;
  border-color: #000000;
}
.inline-help span {
  color: #000000;
  border: none;
  font-weight: 400;
  border: 1px solid #E2E3E9;
}
.panel {
  margin-bottom: 20px;
}
.panel .r {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 10px;
}
.panel .block {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #F7F8FA;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E2E3E9;
}
.panel .block span {
  font-size: 1.3rem;
  margin-top: 10px;
  color: #2274A5;
  font-weight: 600;
}
.panel.grey {
  background: #F7F8FA;
  border: 1px solid #E2E3E9;
  padding: 20px;
}
.loading {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 1;
  margin: 50px auto;
  left: 0px;
  top: 0px;
}
.loading div {
  position: absolute;
  border: 4px solid #0AD957;
  opacity: 1;
  border-radius: 50%;
  animation: loading-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loading-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.loading-message {
  text-align: center;
  margin: 50px 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 12px;
}
header {
  display: flex;
}
header.main {
  background: #FFFFFF;
  width: 100%;
  height: 75px;
  box-shadow: 0 3px 20px 0 rgba(34, 34, 34, 0.05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
header > span.title {
  flex-grow: 1;
}
header .logo {
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
}
header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
}
header:not(.desktop-header) {
  flex-wrap: nowrap;
}
@media only screen and (max-width: 480px) {
  header:not(.desktop-header) {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  header {
    flex-wrap: wrap;
    height: auto;
    padding-top: 20px;
  }
  header .buttons {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  header .buttons .button,
  header .buttons button {
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  header.desktop-header {
    display: none;
  }
  header:not(.desktop-header) {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header.desktop-header {
    display: none;
  }
  header:not(.desktop-header) {
    flex-wrap: wrap;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  header {
    flex-wrap: wrap;
    height: auto;
    padding-top: 20px;
  }
  header .buttons {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  header .buttons .button,
  header .buttons button {
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
}
header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 14px;
  position: relative;
  user-select: none;
}
header .menu-icon .navicon {
  background: #FFFFFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
header .menu-icon .navicon.selected {
  background: var(--primary);
}
header .menu-icon .navicon.selected:before {
  transform: rotate(45deg) translateY(-7px);
}
header .menu-icon .navicon.selected:after {
  transform: rotate(-45deg) translateY(7px);
}
header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
header .menu-icon .navicon:before {
  top: 5px;
}
header .menu-icon .navicon:after {
  top: -5px;
}
header.mobile-header {
  display: none;
  background: #2274A5;
  box-shadow: 0 3px 20px 0 rgba(34, 34, 34, 0.05);
  align-items: center;
  padding: 5px 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 2;
}
@media only screen and (max-width: 480px) {
  header.mobile-header {
    display: flex;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  header.mobile-header {
    display: flex;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header.mobile-header {
    display: flex;
  }
}
header.mobile-header .basket-mobile {
  transform: translateX(5px);
  display: inline-flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
header.mobile-header .basket-mobile .f2 {
  fill: #fff;
}
header.mobile-header > a:first-child {
  background: #FFFFFF;
  border-radius: 4px;
}
header.mobile-header img {
  width: 50px;
  padding: 10px;
}
header.mobile-header .mobile-nav {
  display: block;
  z-index: 9;
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100vw;
  background: #FFFFFF;
  box-shadow: 0 3px 20px 0 rgba(34, 34, 34, 0.05);
  padding: 0px;
  border-top: 1px solid #E2E3E9;
  height: calc(100vh - 70px);
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  header.mobile-header .mobile-nav {
    width: 300px;
    right: 0px;
    left: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header.mobile-header .mobile-nav {
    width: 300px;
    right: 0px;
    left: auto;
  }
}
header.mobile-header .mobile-nav .button.drop .dropper {
  display: block;
  position: static;
}
header.mobile-header .mobile-nav[hidden] {
  display: none;
}
header.desktop-header {
  height: 70px;
  flex-shrink: 0;
  padding-bottom: 0px;
}
@media only screen and (max-width: 480px) {
  header.desktop-header {
    display: none;
  }
}
header > svg {
  margin-right: 10px;
}
header .center-search-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
header .center-search-area .cancel-search {
  position: absolute;
  top: 20px;
  background: rgba(34, 116, 165, 0.1);
  color: #2274A5;
  border-radius: 4px;
  z-index: 99;
  padding: 5px 9px;
  top: 6px;
  font-weight: 600;
  right: 40px;
}
@media only screen and (max-width: 480px) {
  header .center-search-area .cancel-search {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  header .center-search-area {
    padding-left: 20px;
  }
}
header .center-search-area .search-wrap {
  position: relative;
  flex-grow: 1;
  z-index: 9;
}
@media only screen and (max-width: 480px) {
  header .center-search-area .search-wrap {
    width: 100%;
  }
  header .center-search-area .search-wrap .button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 4px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .center-search-area .search-wrap {
    width: 100%;
  }
  header .center-search-area .search-wrap .button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 4px;
  }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
  header .center-search-area .search-wrap {
    width: 100%;
  }
  header .center-search-area .search-wrap .button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 4px;
  }
}
header .center-search-area input[type="search"]::-webkit-search-decoration,
header .center-search-area input[type="search"]::-webkit-search-cancel-button,
header .center-search-area input[type="search"]::-webkit-search-results-button,
header .center-search-area input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
header .center-search-area input[type="search"]:invalid {
  background: #0AD957;
}
header .center-search-area .button svg {
  height: 13px;
}
header .center-search-area .autocomplete-container {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  header .center-search-area .autocomplete-container {
    display: flex;
    flex-direction: column;
  }
}
header .center-search-area .autocomplete-container ul {
  width: 100%;
}
header .center-search-area .autocomplete-container ul li {
  padding: 10px;
  background: #FFFFFF;
  border-bottom: 1px solid #E2E3E9;
}
header .center-search-area .autocomplete-container ul li:last-child {
  border-bottom: none;
}
header .center-search-area .autocomplete-container ul li:hover {
  background: #F7F8FA;
  box-shadow: inset 3px 0 0 0 #2274A5;
}
header .center-search-area .autocomplete-container ul li .description {
  font-weight: 600;
}
header .center-search-area .autocomplete-container ul li .breadcrumbs {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 5px;
}
header .center-search-area .autocomplete-container ul li .breadcrumbs .breadcrumb {
  font-weight: 400;
  color: #7383A8;
  margin-left: 20px;
}
header .center-search-area .autocomplete-container ul li .breadcrumbs .breadcrumb:after {
  left: -12px;
  border-width: 4px;
  margin-top: -4px;
}
header .center-search-area .autocomplete-container ul li .breadcrumbs .breadcrumb:first-child {
  margin-left: 0;
}
header .center-search-area .autocomplete-container ul li .breadcrumbs .breadcrumb:first-child:after {
  display: none;
}
header div > .title {
  padding: 0px;
  cursor: default;
}
header div > .title:hover {
  box-shadow: none;
}
header .title {
  padding: 6px 0;
  color: #2274A5;
  font-weight: 700;
  font-size: 16px;
}
body.dark-mode header .title {
  color: #0AD957;
}
header a.breadcrumb {
  cursor: pointer;
}
header a.breadcrumb:hover {
  box-shadow: 0 2px 0 0 #2274A5;
}
body.dark-mode header a.breadcrumb:hover {
  box-shadow: 0 2px 0 0 #0AD957;
}
header .breadcrumb {
  position: relative;
  margin: 0 0 0 40px;
  color: #2274A5;
  font-weight: 700;
}
@media only screen and (max-width: 480px) {
  header .breadcrumb {
    margin-top: 10px;
    width: 100%;
    margin-left: 32px;
  }
}
body.dark-mode header .breadcrumb {
  color: #FFFFFF;
}
header .breadcrumb:after {
  left: -20px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #7383A8;
  border-width: 6px;
  margin-top: -6px;
}
header .buttons {
  margin-left: auto;
  display: flex;
}
