@red:   			#C53826;
@green: 			#0AD957;
	
@white: 			#FFFFFF;
@black:				#000000;
	
@bg:    			#F7F8FA;
@border:			#E2E3E9;

@darkbg:  			#282934;
@darkwhite: 		#333442;
@darkborder: 		#434556;

@margin:			10px;
@padding:			10px;

@dark-mode: 		~'body.dark-mode &';
 
@screen-xs-min:     480px;
@screen-sm-min:     481px;
@screen-md-min:     992px;
@screen-lg-min:     1280px;

@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);

@mobile:            ~"only screen and (max-width: @{screen-xs-min})";
@tablet:            ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict:     ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop:           ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict:    ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@widescreen:        ~"only screen and (min-width: @{screen-lg-min})";

.transition {
    transition: 0.2s all ease-in;
}

._10    {width: 10%;}
._20    {width: 20%;}
._30    {width: 30%;}
._40    {width: 40%;}
._50    {width: 50%;}
._60    {width: 60%;}
._70    {width: 70%;}
._80    {width: 80%;}
._90    {width: 90%;}
._100   {width: 100%;}

.mt {margin-top: @margin;}
.mb {margin-bottom: @margin;}
.ml {margin-left: @margin;}
.mr {margin-right: @margin;}
.ma {margin: @margin;}

.pt {padding-top: @padding;}
.pb {padding-bottom: @padding;}
.pl {padding-left: @padding;}
.pr {padding-right: @padding;}
.pa {padding: @padding;}

.break {
    width: 100%;
    display: block;
    height: 0px;
    flex-basis: 100%;
}

.shrink {flex-shrink: 1;}
.grow 	{flex-grow: 1;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 14px;
}