@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;700;800;900&display=swap');

@red:   			#C53826;
@green: 			#0AD957;
@yellow:            #E0CA3C;
@orange:            #F18805;
@blue:              #2274A5;
	
@white: 			#FFFFFF;
@black:				#000000;
	
@bg:    			#F7F8FA;
@border:			#E2E3E9;

@darkbg:  			#282934;
@darkwhite: 		#333442;
@darkborder: 		#434556;

@margin:			10px;
@padding:			10px;

@dark-mode: 		~'body.dark-mode &';
 
@screen-xs-min:     480px;
@screen-sm-min:     481px;
@screen-md-min:     992px;
@screen-lg-min:     1280px;

@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);

@mobile:            ~"only screen and (max-width: @{screen-xs-min})";
@tablet:            ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict:     ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop:           ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict:    ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@widescreen:        ~"only screen and (min-width: @{screen-lg-min})";

@br: 4px;

.transition {
    transition: 0.2s all ease-in;
}

._10    {width: 10%;}
._20    {width: 20%;}
._25    {width: 25%;}
._30    {width: 30%;}
._40    {width: 40%;}
._50    {width: 50%;}
._60    {width: 60%;}
._70    {width: 70%;}
._75    {width: 75%;}
._80    {width: 80%;}
._90    {width: 90%;}
._100   {width: 100%;}

.mt {margin-top: @margin;}
.mb {margin-bottom: @margin;}
.ml {margin-left: @margin;}
.mr {margin-right: @margin;}
.ma {margin: @margin;}

.pt {padding-top: @padding;}
.pb {padding-bottom: @padding;}
.pl {padding-left: @padding;}
.pr {padding-right: @padding;}
.pa {padding: @padding;}

.break {
    width: 100%;
    display: block;
    height: 0px;
    flex-basis: 100%;
}

.flex {display: flex;}

.shrink {flex-shrink: 1;}
.grow 	{flex-grow: 1;}

.text-right     {text-align: right;}
.text-left      {text-align: left;}
.text-center    {text-align: center;}

a {
    text-decoration: none;
    color: @black;
}

.b {
    border: 1px solid @border;
    @{dark-mode} {
        border-color: @darkborder;
    }
}
.bl {
    border-left: 1px solid @border;
    @{dark-mode} {
        border-left-color: @darkborder;
    }
}
.br {
    border-right: 1px solid @border;
    @{dark-mode} {
        border-right-color: @darkborder;
    }
}
.bt {
    border-top: 1px solid @border;
    @{dark-mode} {
        border-top-color: @darkborder;
    }
}
.bb {
    border-bottom: 1px solid @border;
    @{dark-mode} {
        border-bottom-color: @darkborder;
    }
}

.bg {
    background: @bg;
    @{dark-mode} {
        background: @darkbg;
    }
}

.white {
    background: @white;
    @{dark-mode} {
        background: @darkwhite;
    }
}

.shadow {
    box-shadow: 0 3px 20px 0 rgba(34,34,34,.05);
}


.title {
    font-size: 1.6rem;
    font-weight: 500;
    color: @black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @{dark-mode} {
        color: @white;
    }
}

a.title {
    position: relative;
    &:hover{
        cursor: pointer;
        color: @black;
    }
}

.subsubtitle {
    font-size: .8rem;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
    color: @blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @{dark-mode} {
        color: @white;
    }   
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
    color: @black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.inline {
        display: inline-flex;
    }
    @{dark-mode} {
        color: @white;
    }   
    button, .button {
        &:first-child {
            margin-left: auto;
        }
    } 
    &.pl {
        padding-left: 20px;
    }
}


app {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    @media @mobile {
        flex-direction: column;
    }
}

.sidebar, .mobile-nav {
    .white;
    .shadow;
    width: 225px;
    height: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    @media @mobile {
        display: none;
    }
    @{dark-mode} {
        background: @darkbg;
    }
    nav {
        border-top: 1px solid @border;
    }
    .topbutton-container {
        margin: 10px;
        .button, button {
            font-size: 16px;
        }
    }
    .main-logo {
        padding: 20px;
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
    nav {
        padding: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        &>ul>li>a {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 5px;
            display: block;
        }
        ul {
            margin: 0px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 0px;
                position: relative;
                .promo {
                    left: -20px;
                    height: 19px;
                    width: 19px;
                    background: @bg;
                    position: absolute;
                    box-sizing: border-box;
                    border-radius: 50%;
                    top: 6px;
                    cursor: default;
                    transform: translate(2px, 2px);
                    svg {
                        width: 13px;
                        transform: translate(5px, -2px);
                    }
                }
                &.drop {
                    &>.arrow {
                        transition: 0.2s all ease-in;
                        left: -20px;
                        height: 19px;
                        width: 19px;
                        background: @bg;
                        position: absolute;
                        box-sizing: border-box;
                        border-radius: 50%;
                        transform: rotate(-90deg) translate(2px, 3px);
                        top: 6px;
                        cursor: pointer;
                        &:hover {
                            background: @blue;
                            &:after {
                                border-top-color: @white;
                            }
                        }
                        &:after {
                            content: '';
                            border: solid transparent;
                            border-color: rgba(136, 183, 213, 0);
                            border-top-color: @black;
                            border-width: 5px;
                            border-radius: 0px;
                            position: absolute;
                            top: 8px;
                            left: 4px;
                        }
                    }
                    ul li.drop>.arrow {
                        left: -28px;
                        top: 0px;
                    }
                    &>a {
                        position: relative;
                    }
                    &>ul {
                        display: none;
                        margin: 5px 0 0 0px;
                        li {
                            margin-bottom: 7px;
                            a {
                                padding: 0px;
                            }
                        }
                    }
                    &.selected {
                        &>ul {
                            display: block;
                            border-left: 2px solid @bg;
                        }
                        &>.arrow {
                            transform: rotate(0deg) translateX(3px) translateY(-2px);
                        }
                        &>a {
                            font-weight: 600;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    padding: 5px 8px;
                    &:not(.top-level-nav):hover {
                        text-decoration: underline;
                    }
                    &.top-level-nav {
                        margin-bottom: 0px;
                    }
                    &.active {
                        color: @green;
                        font-weight: 700;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    svg {
                        display: inline-flex;
                        margin-right: 9px;
                        transform: translateY(5px);
                        width: 21px;
                    }
                }
                &.spacer {
                    flex-grow: 1;
                }
                ul {
                    margin-left: 12px;
                    margin-bottom: 10px;
                    padding-left: 20px;
                    margin-top: 5px;
                    li {
                        a:after {
                            top: 11px;
                        }
                    }
                }
            }
        }
    }
  }


html {
  font-size: 12px;
}

body, body * {
  font-family: 'Biryani', sans-serif;
}

app, .main {
  width: 100%;
}


.shadow {
  box-shadow: 0 5px 10px 0 fadeout(@black, 90%);
}

header {
  display: flex;
  &.main {
    background: @white;
    width: 100%;
    height: 75px;
    .shadow;
  }
  &>span.title {
    flex-grow: 1;
  }
  .logo {
    height: 55px;
    margin-top: @padding;
    margin-left: @padding;
  }
}


.inline-help {
    border: none;
    color: @black;
    background: @bg;
    border: 1px solid @border;
    font-size: 7px;
    &:hover {
        color: @black;
        border-color: @black;
    }
    span {
        color: @black;
        border: none;
        font-weight: 400;
        border: 1px solid @border;
    }
}