@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;700;800;900&display=swap');

@red:   			#C53826;
@green: 			#0AD957;
@yellow:            #E0CA3C;
@orange:            #F18805;
@blue:              #2274A5;
@grey:  #7383A8;
	
@white: 			#FFFFFF;
@black:				#000000;
	
@bg:    			#F7F8FA;
@border:			#E2E3E9;

@darkbg:  			#282934;
@darkwhite: 		#333442;
@darkborder: 		#434556;

@margin:			10px;
@padding:			10px;

@dark-mode: 		~'body.dark-mode &';
 
@screen-xs-min:     480px;
@screen-sm-min:     481px;
@screen-md-min:     992px;
@screen-lg-min:     1280px;

@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);


@mobile:            ~"only screen and (max-width: @{screen-xs-min})";
@tablet:            ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict:     ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop:           ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict:    ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@widescreen:        ~"only screen and (min-width: @{screen-lg-min})";
@mobile-landscape:  ~"only screen and (orientation: landscape) and (max-width: @{screen-sm-max})";
@ipad:  ~"only screen and (min-width: 768px) and (max-width: 1024px)";

@br: 4px;

.transition {
    transition: 0.2s all ease-in;
}

._10    {width: 10%;}
._20    {width: 20%;}
._25    {width: 25%;}
._30    {width: 30%;}
._40    {width: 40%;}
._50    {width: 50%;}
._60    {width: 60%;}
._70    {width: 70%;}
._75    {width: 75%;}
._80    {width: 80%;}
._90    {width: 90%;}
._100   {width: 100%;}

.mt {margin-top: @margin;}
.mb {margin-bottom: @margin;}
.ml {margin-left: @margin;}
.mr {margin-right: @margin;}
.ma {margin: @margin;}

.pt {padding-top: @padding;}
.pb {padding-bottom: @padding;}
.pl {padding-left: @padding;}
.pr {padding-right: @padding;}
.pa {padding: @padding;}

.break {
    width: 100%;
    display: block;
    height: 0px;
    flex-basis: 100%;
}

.flex {display: flex;}

.shrink {flex-shrink: 1;}
.grow 	{flex-grow: 1;}

.text-right     {text-align: right;}
.text-left      {text-align: left;}
.text-center    {text-align: center;}

a {
    text-decoration: none;
    color: @black;
}

.b {
    border: 1px solid @border;
    @{dark-mode} {
        border-color: @darkborder;
    }
}
.bl {
    border-left: 1px solid @border;
    @{dark-mode} {
        border-left-color: @darkborder;
    }
}
.br {
    border-right: 1px solid @border;
    @{dark-mode} {
        border-right-color: @darkborder;
    }
}
.bt {
    border-top: 1px solid @border;
    @{dark-mode} {
        border-top-color: @darkborder;
    }
}
.bb {
    border-bottom: 1px solid @border;
    @{dark-mode} {
        border-bottom-color: @darkborder;
    }
}

.bg {
    background: @bg;
    @{dark-mode} {
        background: @darkbg;
    }
}

.white {
    background: @white;
    @{dark-mode} {
        background: @darkwhite;
    }
}

.shadow {
    box-shadow: 0 3px 20px 0 rgba(34,34,34,.05);
}


.title {
    font-size: 1.6rem;
    font-weight: 500;
    color: @black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @{dark-mode} {
        color: @white;
    }
}

a.title {
    position: relative;
    &:hover{
        cursor: pointer;
        color: @black;
    }
}

.subsubtitle {
    font-size: .8rem;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
    color: @blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @{dark-mode} {
        color: @white;
    }   
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
    color: @black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.inline {
        display: inline-flex;
    }
    @{dark-mode} {
        color: @white;
    }   
    button, .button {
        &:first-child {
            margin-left: auto;
        }
    } 
    &.pl {
        padding-left: 20px;
    }
}

app, .app {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    @media @mobile {
        flex-direction: column;
    }
    @media @mobile-landscape {
        flex-direction: column;
    }
    @media @mobile-landscape {
        overflow: hidden;
    }
    @media @ipad {
        overflow: hidden;
    }
}

.main-container {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        flex-grow: 1;
        padding: 20px;
        height: 100vh;
        overflow: auto;
        box-sizing: border-box;
        @media @mobile {
            padding: 0px;
        }
        @media @ipad {
            width: 100vw;
        }
    }
    @media @mobile {
        width: 100vw;
        overflow: hidden;
    }
    @media @mobile-landscape {
        width: 100vw;
        overflow: hidden;
    }
}

html {
  font-size: 12px;
}

body, body * {
  font-family: 'Biryani', sans-serif;
}

app, .main {
  width: 100%;
}


.shadow {
  box-shadow: 0 5px 10px 0 fadeout(@black, 90%);
}

.inline-help {
    border: none;
    color: @black;
    background: @bg;
    border: 1px solid @border;
    font-size: 7px;
    &:hover {
        color: @black;
        border-color: @black;
    }
    span {
        color: @black;
        border: none;
        font-weight: 400;
        border: 1px solid @border;
    }
}

.panel {
    margin-bottom: 20px;
    .r {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        column-gap: 10px;
    }
    .block {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: @bg;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid @border;
        span {
            font-size: 1.3rem;
            margin-top: 10px;
            color: @blue;
            font-weight: 600;
        }
    }
    &.grey {
        background: @bg;
        border: 1px solid @border;
        padding: 20px;
    }
}

.loading {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin: 50px auto;
    left: 0px;
    top: 0px;
    div {
        position: absolute;
        border: 4px solid @green;
        opacity: 1;
        border-radius: 50%;
        animation: loading-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        &:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
}
@keyframes loading-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.loading-message {
    text-align: center;
    margin: 50px 0;
    color: fadeout(@black, 50%);
    font-weight: 600;
    font-size: 12px;
}